* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    background: linear-gradient(125deg,#f64f59, #c471ed, #12c2e9);
    background-size: 200%;
    background-attachment: fixed;
    animation: bganimation 10s infinite;
}

@keyframes bganimation {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

a {
    text-decoration: none;
    color: rgba(51, 255, 255, 0.8);
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    color: rgba(51, 255, 255, 1);
}

a:active {
    color: rgba(255, 20, 200, 0.7);
}

p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

.h1_title_1 {
    color: rgb(255, 255, 255);
    font-size: 6em;
    font-weight: 500;
    user-select: none;
}

.p_title_1_a {
    color: rgb(250, 250, 250);
    font-size: 1.6em;
    font-weight: 500;
    user-select: none;
}

.box_title_1 {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-image: url(../images/bg/bg.png);
    background-size: cover;
    box-shadow: rgba(51, 51, 51, 0.3) 0 5px 20px 5px;
    border-bottom: 3px rgba(255, 255, 255, 0.9) dashed;
    margin: 0 0 5px 0;
}

.box_title_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.box_title_2 .box {
    position: absolute;
    margin: -1500% 2000% 0 0;
}

.box_title_2:hover div.box,
.box_title_2_a {
    position: static;
    margin: 0;
    transition: 0.5s;
}

.box_title_2_a {
    margin: 5px 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 96%;
    height: 120px;
    border-radius: 15px;
    border: 3px rgba(51, 51, 51, 0.3) solid;
    background: rgb(240, 240, 240);
    box-shadow: rgba(51, 51, 51, 0.3) 0 0 20px 5px;
    user-select: none;
}

.box_title_2_a:hover {
    background: rgb(255,200,240);
}

.h1_title_2 {
    color: rgb(51, 51, 51);
    font-size: 4em;
    font-weight: 500;
}

.p_title_2 {
    color: rgb(51, 51, 51);
    font-size: 1.6em;
    font-weight: 500;
}

.box_bottom_1 {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    box-shadow: rgba(51, 51, 51, 0.3) 0 -5px 20px 5px;
    border-top: 3px rgba(255, 255, 255, 0.9) dashed;
    background: linear-gradient(125deg, rgb(90, 90, 90), rgb(70, 70, 70), rgb(50, 50, 50));
    background-size: 170%;
    animation: bganimation 10s infinite;
    margin: 5px 0 0 0;
    padding: 0 0 20px 0;
}

.box_bottom_1 p {
    color: rgb(250, 250, 250);
    font-size: 1em;
    font-weight: 500;
    user-select: none;
}

.box_bottom_1 a {
    font-size: 2em;
    font-weight: 500;
}

.bottom_icon svg {
    color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    user-select: none;
}

.bottom_icon svg:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.bottom_icon svg:active {
    transition: 0.3s;
    transform: scale(0.8);
}

.box {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
    flex-wrap: wrap;
}

.box ul {
    margin: 5px 3px;
    width: 580px;
    height: 220px;
    overflow: hidden;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    box-shadow: rgba(51, 51, 51, 0.3) 0 0 3px 0;
}

.box ul:hover {
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.7);
    transform: scale(1);
}

.box ul li {
    width: auto;
    height: auto;
    display: block;
    align-items: unset;
    justify-content: unset;
    float: left;
}

.box ul .li_1 {
    margin: 10px;
    width: 180px;
    height: 180px;
    border-radius: 25%;
    border: 2px solid rgba(51, 51, 51, 0.6);
    box-shadow: rgba(51, 51, 51, 0.3) 0 0 10px 0;
    overflow: hidden;
}

.box ul .li_1 p {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.7);
    border-top: 2px rgba(255, 255, 255, 1) dashed;
    width: auto;
    height: 40px;
    transition: 0.5s;
}

.box ul .li_1:hover p {
    text-align: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.7);
    margin: -40px 0 0 0;
}

.box ul .li_1:hover img {
    transition: 1s;
    transform: scale(1.1);
}

.box ul .li_2 {
    margin: 20px 10px;
}

.box ul img {
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

.box ul li p {
    font-size: 2em;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.9);
    display: flex;
}

.topa {
    width: 40px;
    height: 40px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 1;
    right: 0;
    bottom: 0;
    left: 1;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    color: rgba(51, 51, 51, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(51, 51, 51, 0.5) 0 0 2px 0;
    user-select: none;
}

.topa:hover {
    background: rgba(51, 51, 51, 0.5);
    transform: scale(1.1);
}

.topa:active {
    background: rgba(51, 51, 51, 0.9);
    color: rgb(124, 255, 64);
    transition: 0.2s;
    margin: 3px;
}

.topa i {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    top: 50%;
    left: 50%;
    transition: 0.3s;
}

.topa:hover i {
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%) rotate(180deg);
}

.topa:active i {
    color: rgb(124, 255, 64);
}

.p_warning {
    color: rgb(255, 0, 0);
    font-size: 1.4em;
    font-weight: 500;
}

.box_title_2 .li_2 .p_warning {
    color: rgb(255, 0, 0);
    font-weight: 500;
}

#donate_svg {
    width: 40px; height: 40px;
}

.donate_ul {
    display: none;
    position: fixed;
    width: 800px; height: 420px;
    background: linear-gradient(125deg, rgba(51,51,51), rgba(100,100,100));
    background-size: 170%;
    animation: bganimation 10s infinite;
    backdrop-filter: blur(6px);
    border-radius: 15px;
    margin: 0;
    top: 50%; right: 0; bottom: 0; left: 50%;
    transform: translate(-50%,-50%);
    border: 5px rgb(255,200,240) solid;
    align-items: center;
    justify-content: center;
    list-style-type:none;
}

.donate_ul img {
    
    width: 240px; height: 280px;
}

.donate_ul p {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 500;
    background: rgba(255,205,255,0.7);
}

.donate_title_top {
    position: absolute;
    top: 0; right: 0; bottom: 1; left: 0;
    border-bottom-right-radius: 120px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    width: 120px; height: 30px;
    background: rgba(255,205,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate_title_bottom {
    position: absolute;
    top: 1; right: 0; bottom: 0; left: 0;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    color: rgb(255, 255, 255);
    font-size: 2em;
    width: 100%; height: 30px;
    background: rgba(255,205,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate:hover .donate_ul  {
    display: flex;
}

@media(max-width:700px) {
    p {
        font-size: 10px;
        font-weight: 500;
    }

    .h1_title_1 {
        font-size: 3.2em;
    }

    .p_title_1_a {
        font-size: 1em;
    }

    .box_title_1 {
        height: 160px;
        margin: 0 0 5px 0;
    }

    .box_title_2_a {
        margin: 5px 0;
        height: 110px;
        border-radius: 15px;
        border: 2px rgba(51, 51, 51, 0.3) solid;
    }

    .h1_title_2 {
        font-size: 2em;
    }

    .p_title_2 {
        font-size: 1.2em;
    }

    .box_bottom_1 {
        margin: 5px 0 0 0;
        height: 200px;
    }

    .box_bottom_1 p {
        color: rgb(250, 250, 250);
        font-size: 1.2em;
    }

    .box_bottom_1 a {
        font-size: 1.6em;
    }

    .box {
        width: 98%;
    }

    .box ul {
        width: 100%;
        height: 140px;
        border: 3px solid rgba(255, 255, 255, 0.3);
    }

    .box ul .li_1 {
        margin: 10px;
        width: 110px;
        height: 110px;
        border-radius: 20%;
    }

    .box ul .li_2 {
        margin: 20px 0 20px -3px;
    }

    .box ul li p {
        font-size: 1.07em;
    }

    .p_warning {
        color: rgb(255, 0, 0);
        font-size: 1.4em;
    }
    
    .donate_ul {
        width: 96%; height: 200px;
    }
    
    .donate_ul img {
        width: 100px; height: 125px;
    }
    
    .donate_ul p {
        font-size: 1em;
    }
    
    .donate_title_top {
        border-bottom-right-radius: 120px;
        font-size: 2em;
        width: 80px; height: 20px;
    }
    
    .donate_title_bottom {
        font-size: 2em;
        width: 100%; height: 25px;
    }
}